<div class="col-md-12" style="text-align: center;">
    <div *ngIf=!loggedIn>
        <div>
            <input [(ngModel)]="name" type="text" placeholder="Please enter your name">
        </div>
        <hr>
        <div>
            <button class="btn btn-primary"
            (click)=login()>Click Me to Login</button>
        </div>
    </div>
    <div *ngIf=loggedIn>
        <div class="col-md-12">
            <h2>{{name}}</h2>
        </div>
        <div class="col-md-3">
            User List
            <div *ngFor="let client of chats" (click) ="openChat(client)">
                <div>
                    {{client.id.name}}
                    {{client.getStatus()}}
                </div>
            </div>
        </div>
        <div class="col-md-8" *ngIf="currentChat" style="border: 1px solid black; padding: 2vw;">
            <div *ngFor="let chatMessage of currentChat.chat" style="border: 1px solid black;">
                <div>
                    {{chatMessage.message}} <br>
                    {{chatMessage.time}} <br>
                </div>
            </div>
            <hr>
            <div>
                <input type="text" [disabled]="!currentChat.isOnline" placeholder="Please enter your message" [(ngModel)]="currentMessage">
                <button class="ctn" [disabled]="!currentChat.isOnline" (click)=sendMessage()>Send !</button>
            </div>
        </div>
    </div>
</div>